nav{
  background: var(--primary-bg);
  border-bottom: 3px solid var(--primary-color);
}

.icon-position{
  left: 0;
  position: absolute;
  padding-left: 10px;
  font-weight: bold;
}

.navbar-toggler{
  color: var(--primary-color);
}

.navbar-brand{
  color: var(--primary-color);
  font-weight: bold;
}

.nav-link{
  color: var(--primary-color);
}

.nav-link:hover, .nav-link:focus{
  font-weight: bold;
}

.btn-primary{
  background: var(--primary-color);
}
