<div class="sidebar" id="sidebar-wrapper">
  <div class="sidebar-heading">iTracker</div>
  <div class="list-group list-group-flush">
    <a href="#" class="list-group-item list-group-item-action">Dashboard</a>
    <a href="#" class="list-group-item list-group-item-action">Shortcuts</a>
    <a href="#" class="list-group-item list-group-item-action">Overview</a>
    <a href="#" class="list-group-item list-group-item-action">Events</a>
    <a href="#" class="list-group-item list-group-item-action">Profile</a>
    <a href="#" class="list-group-item list-group-item-action">Status</a>
  </div>
</div>
