h4{
  color:var(--primary-color);
}

.sidebar{
  background: var(--primary-color-transparent);
  height: 100%;
}

.sidebar-heading{
  color: var(--white-transparent);
  font-weight: bold;
  text-align: center;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
  background: rgba(0, 0, 0, 0);
}

.list-group-item{
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0,0,0,0);
  color: var(--white);
}

.list-group-item:hover, .list-group-item:focus{
  background: var(--primary-color);
  border: 1px solid rgba(0,0,0,0);
  font-weight: bold;
  text-align: right;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#sidebar-wrapper {
  margin-left: 0;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: -15rem;
}
