<div class="row login-center">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header card-header-lynx">
        <h4 class="card-title text-white">Iniciar Sesion</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">

            <form ng-submit="login()">
                <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="exampleFormControlInput1">Usuario</label>
                        <input
                          matInput
                          class="form-control"
                          placeholder="Usuario"
                          [(ngModel)]="username"
                          name="username"/>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="exampleFormControlInput1">Contraseña</label>
                        <input
                          matInput
                          class="form-control"
                          placeholder="Contraseña"
                          type="password"
                          [(ngModel)]="password"
                          name="password"/>
                    </div>
                    </div>
                    <br/>&nbsp;
                    <br/>&nbsp;
                    &nbsp;
                </div>
                <button
                  mat-raised-button
                  type="submit"
                  class="btn btn-danger btn-lynx pull-right"
                  (click)="login()">
                  Ingresar
                </button>
                <div class="clearfix"></div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
