.login-center{
  margin-top: 5%;
  margin-bottom: 5%;
  height: 100%;
}

.btn-lynx{
  background: #2196f3;
  background-color: #2196f3 !important;
  border-color: #2196f3 !important;
  position:absolute !important;
  bottom:5px !important;
  right:10px !important;
}

.form-control{
  border: 0px solid #ced4da;
  border-bottom: 3px solid var(--primary-color);
}

.card{
  /*border: 3px solid var(--primary-color);*/
  border: 0px solid rgba(0,0,0,.125);
  background-color: var(--white-transparent);
}

.card-header{
  background-color: var(--primary-color-transparent);
  /*border-bottom: 3px solid var(--primary-color);*/
}
