:root{
  /*BAKCGROUND*/
  --secondary-bg: rgba(243,242,241,0.85);
  --primary-bg: rgba(52,58,64,0.85);

  /*COLORS*/
  --primary-color: rgba(33,150,243,1);
  --white: rgba(255,255,255,1);

  /*TRANSPARENTS COLORS*/
  --primary-color-transparent: rgba(33,150,243,0.85);
  --white-transparent: rgba(255,255,255,0.85);
}

html {
  height: 100%;
}

body{
  /*background: var(--secondary-bg);*/
  height: 100%;
  background: url("/assets/img/background/bg-1.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.container-fluid{
  margin-right: 0px;
  margin-left: 0px;
}
