.fixer-lynx{
  padding: 20px;
}

.lynx-col-sp{
  padding: 0px;
}

#page-content-wrapper {
  min-width: 100vw;
}


#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

#content{
  margin-top: 30px;
  margin-bottom: 30px;
}
