<div class="d-flex" id="wrapper">

  <div *ngIf="sidebarStatus()" >
    <app-sidebar></app-sidebar>
  </div>



  <div id="page-content-wrapper">

    <app-navbar></app-navbar>

    <div id="content">
      <router-outlet></router-outlet>
    </div>

    <app-footer></app-footer>

  </div>

</div>

<script type="text/javascript">
$("#menu-toggle").click(function(e) {
  e.preventDefault();
  $("#wrapper").toggleClass("toggled");
});
</script>
