<div class="row">
  <div class="col-md-12">
    <div class="container">
      <div class="row">
        <div class="col-md-12 transparent">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                MENU
              </div>
              <div class="col-md-6">
                <img src="/assets/img/svg/team.svg" alt="Team" class="lateral img-fluid"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
