<div class="alert alert-primary alert-dismissible fade show" role="alert" *ngIf="!isLogin()">
  <strong>¡Hola!</strong> si todavia no tenes un usuario comunicate con nosotros.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="container">
      <div class="row">
        <div class="col-md-12 transparent">
          &nbsp;
          &nbsp; asd
        </div>
      </div>
    </div>
  </div>
</div>
